<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>School Model Data</h1>
        <table border="2px" style="border-collapse:collapse">
            <tr>
                <th>ScName</th>
                <th>ScPrincipal</th>
                <th>ScLocation</th>
            </tr>
        {% for sco in QLSC %}
            <tr>
                <td>{{sco.ScName}}</td>
                <td>{{sco.ScPrincipal}}</td>
                <td>{{sco.ScLocation}}</td>
            </tr>
        {% endfor %}
        </table>
    </center>
    
</body>
</html>